<div class="content__wrapper">
  <section class="header__section p-default">
    <app-header class="header"></app-header>
  </section>
  <section class="image__section p-default">
    <app-image class="image" [imagesSrc]="['./assets/images/header-image.png']"></app-image>
  </section>
  <section class="overview__section p-default">
    <app-overview class="overview" [data]="overviewData"></app-overview>
  </section>
  <section class="image__section p-default">
    <app-image class="image" [imagesSrc]="['./assets/images/chair.png', './assets/images/desk.png', './assets/images/sofa.png', './assets/images/lamp.png', './assets/images/walls.png']"></app-image>
  </section>
  <section class="contact-us__section">
    <app-contact-us class="contact"></app-contact-us>
  </section>
</div>
