.btn__wrapper {
  .btn {
    padding: 14px 32px;
    border: 1px solid #3C3C3C;
    cursor: pointer;
  }

  .blue {
    color: #fff;
    background: #2C3878;
  }

  .white {
    color: #333333;
    background: #fff;
  }
}
