<div class="contact__wrapper d-flex">
  <div class="contact-us__title__wrapper">
    <h2 class="contact-us__title">
      let's discuss making your interior like a dream place!
    </h2>
  </div>
  <div class="contact-us__action__wrapper d-flex">
    <div class="contact-us__action-title__wrapper">
      <p class="contact-us__action-title">
        Contact us below to work together to build your amazing interior
      </p>
    </div>
    <div class="contact-us__action-btn__wrapper">
      <app-button [name]="'Contact Us'" [background]="'white'"></app-button>
    </div>
  </div>
</div>
